<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="WebOperationHistory" />
                <binding name="WeatherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DeviceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ne4topc/soaptest/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory"
                binding="basicHttpBinding" bindingConfiguration="WebOperationHistory"
                contract="ServiceReference3.OperationHistoryInterface" name="OperationHistory" />
            <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
                contract="ServiceReference4.WeatherSoap" name="WeatherSoap" />
            <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
                binding="customBinding" bindingConfiguration="WeatherSoap12"
                contract="ServiceReference4.WeatherSoap" name="WeatherSoap12" />
        </client>
    </system.serviceModel>
</configuration>